body {
    font-family: "Open Sans", sans-serif;
    text-align: center; 
    background-image: linear-gradient(black,grey);
    height: 96.1vh;
}

.wrapper {
    display: inline-block;  
    width: 70%;
    padding: 200px;
    margin-top:-10%;
}   

.header {
    font-family: "Open Sans", sans-serif;
    text-align: center; 
    color:white;
    font-size:50px;
} 

input {
    width : 300px;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input[type=button] {
    background-color: lightgray;
    border: none;
    color: black;
    padding: 20px 32px;
    text-decoration: none;
    font-weight: bold;
    margin: 10px 20px;
    cursor: pointer;
}   

.textbox {
    display: grid;
    display: inline-block;
    height:67vh;
    overflow:auto;
    margin-top:-10%;
    margin-bottom:-10%;
    background-color: white;
    border:0.5vh solid red;
}   

.slidecontainer {
  width: 100%;
  color:white;
  font-size:15px;
}

.slider {
  -webkit-appearance: none;
  width: 67.5%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
  
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}  

.inside {
  float: left;
  width: 18%;
  margin-right: 2%;
}

.inside2 {
  margin-top:-10%;
  float: left;
  width: 38.74%;
  background-color: white;
  height: 68vh;
  margin-right: 1%;
}

.container {
  width: 100%;
  display: inline-block;
  position: relative;
}

canvas {
  margin-top: 15% !important;
  height: 65% !important;
}